DB_HOST=mysql
DB_PORT=3306
DB_HOST_PORT=3309
DB_NAME=md_note
DB_USER=md_note
DB_PASSWORD=changeme
DB_ROOT_PASSWORD=changeme_root

INTERNAL_API_PORT=8888
EXTERNAL_API_PORT=8888

JWT_SECRET=changeme_jwt_secret

CORS_ORIGIN=http://localhost:1234,http://192.168.0.123:1234

VITE_API_BASE_URL=http://192.168.0.123:8888/api

FRONTEND_PORT=1234